.PhoneTitle {
  color: #333;
  font-size: 24px;
  margin-bottom: 20px;
  margin-top: 0px;
}

.ContactTitle {
  color: #333;
  font-size: 20px;
  margin-bottom: 10px;
}

.wrap {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  background-image: url(../../Ipad-PNG-Photos.png);
  background-size: auto;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 2%;
  height: 750px;
}

.container {
  max-width: 350px;
  height: 630px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 120px;
}

.content {
  min-height: 95vh;
  background-image: url(../../beach-min.jpg);
  background-size: cover;
}
