.filterInput {
  padding: 5px 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 14px;
  width: 200px;
  margin-bottom: 20px;
}
@media screen and (max-width: 425px) {
  .filterInput {
    max-width: 150px;
  }
}
