.login,
.register {
  text-decoration: none;
  color: white;
  font-size: 16px;
  margin-right: 10px;
  padding: 6px 12px;
  border: none;
  border-radius: 4px;
  transition: background-color 0.3s ease-in-out;
}

.login {
  background-color: #00aaff; /* Голубой цвет для "Login" */
}

.register {
  background-color: #0077cc; /* Темнее голубой для "Register" */
}

.login:hover,
.register:hover {
  background-color: #005fa3; /* Еще темнее голубой при наведении */
}
