.contactList {
  list-style: none;
  padding: 0;
  margin: 0;
  max-height: 320px;

  overflow-y: auto;
  display: flex;

  flex-wrap: wrap;
}

.contactItem {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  padding: 4px;
  border-radius: 10px;
  font-size: 14px;
  width: 100%;
}

.contactItem:last-child {
  margin-bottom: 0;
}

.contactLButton {
  padding: 5px 10px;
  background-color: #f44336;
  color: #fff;
  border: none;
  border-radius: 4px;
  font-size: 14px;
  cursor: pointer;
}

.contactLButton:hover {
  background-color: #d32f2f;
}

.sortButton {
  text-align: center;
  background-color: transparent;
  border-radius: 10px;
  padding: 4px;
  cursor: pointer;
  border: 1px solid #ccc;
  margin-left: 10px;
}

.randomButton {
  margin-left: 10px;
  border: 1px solid #ccc;
  text-align: center;
  background-color: transparent;
  border-radius: 10px;
  padding: 4px;
  cursor: pointer;
}

.sortButton:hover,
.randomButton:hover {
  background-color: #f5f5f5;
}

.sortIcon,
.randomIcon,
.phoneIcon {
  font-size: 20px;
  color: #333;
  vertical-align: middle;
}
@media screen and (max-width: 425px) {
  .sortIcon,
  .randomIcon,
  .phoneIcon {
    font-size: 16px;
  }
}

.phoneIcon {
  font-size: 16px;

  padding: 5px 10px;
  background-color: #4caf50;
  color: #fff;
  border: none;
  border-radius: 4px;
}

.contactFirstLetter {
  border-radius: 50%;
  border: 1px solid #ccc;
  padding: 2px;
  width: 20px;
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 3px;
  font-weight: bold;
  color: #fff;
  -webkit-text-stroke: 0.7px black;
}
@media screen and (max-width: 425px) {
  .contactFirstLetter {
    display: none;
  }
}

.contactWrapp {
  margin-left: auto;
}
.contactMdlBtn {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  font-size: 16px;
  margin-left: 10px;
  padding: 5px 10px;
  background-color: #beb41d;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
@media screen and (max-width: 425px) {
  .contactMdlBtn,
  .phoneIcon {
    font-size: 16px;
    padding: 5px;
  }
}

.contactMdlBtn:hover {
  background-color: #867f31;
}
.contactButtons {
  display: flex;
  gap: 10px;
}
