.wrap {
  background-image: url(../../beach-min.jpg);
  background-size: cover;
  display: flex;
  align-items: center;
  height: 95vh;
}
@media screen and (max-width: 320px) {
  .wrap {
    min-height: 580px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .wrap {
  }
}

@media screen and (min-width: 1200px) {
  .wrap {
  }
}

.content {
  display: flex;
  border-radius: 10px;
  flex-wrap: wrap;
  flex-direction: column;
  max-width: 500px;
  overflow-y: auto;

  margin-left: auto;
  margin-right: auto;
  align-items: center;

  background-color: rgba(255, 255, 255, 0.7);

  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  text-align: center;
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .content {
    width: 500px;
    background-color: rgba(255, 255, 255, 0.8);
  }
}

@media screen and (min-width: 1200px) {
  .content {
    width: 500px;
    background-color: rgba(255, 255, 255, 0.8);
  }
}

.title {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
@media screen and (max-width: 425px) {
  .title {
    font-size: 27px;
  }
}
.start {
  text-decoration: none;
  font-size: 29px;
  font-weight: 800;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color: rgb(73, 76, 236);
}
.links {
  text-decoration: none;
  font-size: 19px;
  font-weight: 800;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color: rgb(73, 76, 236);
}

.start:hover,
.links:hover {
  color: rgb(24, 195, 58);
}

@media screen and (max-width: 320px) {
  .items {
    font-size: 14px;
  }
}
