.Link {
  text-decoration: none;
  color: #333;
  transition: color 0.3s ease;
  margin-right: 20px;
  font-weight: bold;
  margin-right: auto;
  font-size: 24px;
}
@media screen and (max-width: 387px) {
  .Link {
    font-size: 12px;
  }
}
@media screen and (min-width: 387px) and (max-width: 740px) {
  .Link {
    font-size: 18px;
  }
}

.Link:hover {
  color: #007bff;
}

p {
  margin-top: 10px;
  font-weight: bold;
}

.button {
  background-color: transparent;
  border-radius: 10px;
  padding: 4px;
  cursor: pointer;
  border: 1px solid #ccc;
  margin-left: 10px;
  display: flex;
  text-align: center;
  justify-content: center;
  font-size: 18px;
}
.button:hover {
  background-color: #70b5ff;
}
.text {
  margin-top: auto;
  margin-bottom: auto;
  margin-left: 10px;
  font-size: 16px;
}
@media screen and (max-width: 387px) {
  .text {
    font-size: 12px;
  }
}
@media screen and (min-width: 387px) and (max-width: 740px) {
  .text {
    font-size: 14px;
  }
}
